html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    color: #eaebd3;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100vw;
    height: 100vh; */
    background-color: black;
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
    
}

#nameblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1vw;
}

#lastname {
    letter-spacing: 2vw;
}

#continue-container {
    /* display: none; */
    display: flex;
    justify-content: center;
    width: 10vw;
    height: 8vh;
    font-size: .6em;
    color: lightgray;
    opacity: 15%;
    background-color: #444;
    border: 3px solid lightgray;
    margin-top: 10vh;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    height: 10vh;
    border: 2px solid red
}

.header > .name {
    grid-column: 2 / 3;
}

.content {
    font-family: 'Open Sans', sans-serif;
    width: 80vw;
    max-width: 80vw;
    border: 2px solid green;
}

section {
    height: 100vh;
    width: 70vw;
    padding: 8vh 0px 0px 15vw;
}

