/* Mobile */
:root {
    --main-background-color: black;
    --main-font-color: #eaebd3;
}

html {
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    color: var(--main-font-color);
    background-color: var(--main-background-color);
    overflow-x: hidden;
}

footer {
    margin-bottom: 3vh;
}

.hidden {
    display: none;
}

.cta { /* call to action */
    font-style: italic;
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.content {
    font-family: 'Open Sans', sans-serif;
    min-width: 80vw;
    max-width: 90vw;
    min-height: 100vh;
}

.swap {
    font-size: .7rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--main-font-color);
}

.selected-marker {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    letter-spacing: 0px;
}

/* Nameblock */
.nameblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 2em;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Raleway', sans-serif;
    /* border: 2px solid green; */
}

.name-and-blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 6px double var(--main-font-color);
    padding: 2vh 5vw;
    margin: 3vh 0;
    /* width: 100%; */
    overflow: hidden;
}

.nameblock > .name-and-blurb > .name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5vh 0;
    margin-bottom: 1.5vh;
}

.name {
    letter-spacing: 1vw;
    /* padding-left: .4em; */
    /* letter-spacing: 2vw; */
}

.blurb {
    font-size: .7em;
    margin-bottom: 1.5vh;
    text-align: center;
}

/* .bordertext{
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 1.5vh;
    color: var(--main-background-color);
    text-decoration: underline;
    text-decoration-color: var(--main-font-color);
    text-decoration-style: wavy;
    user-select: none;
} */

.instructions {
    padding: 1em 0 0 0;
    font-size: 1.2rem;
    letter-spacing: 3px;
}

.section-button-container {
    font-size: 1rem;
}

.nameblock .section-buttons {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* border: 2px solid green; */
}

.nameblock button {
    margin-bottom: 1em;
}

/* Header */
.header {
    background-color: var(--main-background-color);
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 1vh;
    /* sticky */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 9;
}

.header > .name {
    font-size: 1rem;
    letter-spacing: 2vw;
    margin-bottom: .5vh;
    /* display: none; */
}

.header > .section-nav {
    width: 90%;
}

.header > .section-nav > .section-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

/* section {
    height: 100vh;
    width: 70vw;
    padding: 8vh 0px 0px 15vw;
} */

button {
    border:none;
    background-color: transparent;
    font-size: 1.3rem;
}

/* Section */
.section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20vh;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.section-title {
    font-size: 1.5rem;
    letter-spacing: .1vw;
    text-align: center;
}

/* Projects */
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 3vh;
    padding: 5px;
    border: 3px solid darkgray;
    border-radius: 2px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img-container {
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin: 1vh 0 1vh 1vw;
}

.project-img {
    width: 85%;
    border-radius: 2px;
}

.project-title {
    margin-top: 1vh;
    font-weight: 700;
}

.project-stack {
    font-style: italic;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2vw 0 2vw;
}

.item-margin {
    margin-top: 1vh;
}

.project-links {
    padding: 1vh 0 1vh 0;
    display: flex;
    justify-content: space-evenly;
}

/* Contact */
.socials-container {
    width: 100%;
}

.socials-title {
    background-color: var(--main-background-color);
    font-size: 1.1rem;
    position: relative;
    translate: 0 10px;
    width: min-content;
    padding: 0 7px 3px 0px;
}

.socials-items {
    display: flex;
    justify-content: space-evenly;
    padding: 3vh;
    border: 1px solid var(--main-font-color);
    margin-bottom: 1em;
}

.socials-items a {
    display: flex;
    justify-content: flex-end;
    color: var(--main-font-color);
}

.fa-linkedin {
    color: #007bb5;
}

.fa-twitter {
    color: #55ACEE;
}

.socials-items a:hover {
    transform: scale(1.1);
}

.fa {
    transform: scale(1.7);
}

.social-label {
    padding-left: 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.contact-form label {
    margin-bottom: .2em;
    font-weight: 700;
}

.contact-form .input {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1em;
    border: none;
    font-size: 1.1em;
    height: 1.5em;
}

.name-input, .email-input {
    display: flex;
    flex-direction: column;
}

#message-input {
    height: 15em;
    border: none;
}

#contact-submit {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin-top: 3vh;
    width: 60%;
    height: 2.5em;
    align-self: center;
    font-size: 1rem;
    margin-bottom: 10vh;
}

.red {
    color: #990000;
}

.continue-container {
    /* display: none; */
    display: flex;
    justify-content: center;
    width: 10vw;
    height: 8vh;
    font-size: .6em;
    color: lightgray;
    opacity: 15%;
    background-color: #444;
    border: 3px solid lightgray;
    margin-top: 10vh;
}

/* Blog */
h1 a {
    color: var(--main-font-color);
}

.blog .card {
    padding-bottom: 2vh;
}

.blog .project-title {
    font-size: 1.1em;
}


/* MEDIUM */
@media (min-width: 450px) {
    html {
        font-size: 20px;
    }

    .content {
        font-family: 'Open Sans', sans-serif;
        min-width: 50vw;
        max-width: 960px;
        margin: 0 5vw;
    }

    .selected-marker {
        font-size: 1.3rem;
        display: flex;
    }

    /* Nameblock */
    .nameblock {
        margin-top: 10vh;
    }

    .nameblock > .section-nav {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .nameblock > .section-nav > .section-buttons {
        flex-direction: row;
        align-items: flex-start;
    }

    .section-buttons {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    /* Header */
    .header {
        display: grid;
        grid-template-columns: 5vw 1.5fr 1fr 1fr 10vw;
    }

    .header > .name {
        display: block;
        grid-column: 2 / 3;
        font-size: 1.5rem;
    }

    .header > .section-nav {
        grid-column: 3 / 5;
        display: flex;
        align-items: center;
        padding-top: 6%;
        padding-left: 2vw;
    }

    button {
        font-size: 1rem;
    }

    button > label {
        letter-spacing: .3vw;
    }

    button:hover {
        color: deeppink;
        cursor: pointer;
        transform: scale(1.1);
    }

    button > label:hover {
        color: deeppink;
        cursor: pointer;
        
    }

    /* Section */
    .section-title {
        margin: 5vh 0;
    }

    /* Projects */
    .card {
        justify-content: center;
        align-items: center;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
        min-width: 50%;
    }

    .project-img {
        min-width: 100%;
    }

    .card:hover {
        border: 3px solid lightgray;
    }

    /* Contact */
    .short-fields {
        display: flex;
        justify-content: space-between;
    }

    .name-input, .email-input {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .name-input {
        padding-right: 5vw;
    }
    
    #contact-submit {
        max-width: 200px;
        font-size: .8rem;
    }
}


/* LARGER */
@media (min-width: 900px) {
    .content {
        max-width: 960px;
    }

    /* Projects */
.card {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    margin-bottom: 3vh;
    padding: 5px;
    border: 3px solid darkgray;
    border-radius: 2px;
}

.project-info {
    grid-column: 4/12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vh 0;
    width: 100%;
}

.img-container {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project-img {
    border-radius: 2px;
    width: 100%;
}
}
