html {
    scroll-behavior: smooth;
}

body {
    color: #eaebd3;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-size: 6em;
    font-family: 'Raleway', sans-serif;
    
}

#name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1vw;
}

#lastname {
    letter-spacing: 2vw;
}

#continue-container {
    /* display: none; */
    display: flex;
    justify-content: center;
    width: 10vw;
    height: 8vh;
    font-size: .6em;
    color: lightgray;
    opacity: 15%;
    background-color: #444;
    border: 3px solid lightgray;
    margin-top: 10vh;
}

content {
    font-family: 'Open Sans', sans-serif;
}

section {
    height: 100vh;
    width: 70vw;
    padding: 8vh 0px 0px 15vw;
}

#about-heading {
    font-size: 4em;
}

#about-heading > span {
    padding-left: 2vw;
}

#about > p {
    padding-left: 5vw;
    font-size: 1.5em;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100vw;
    background-color: #555;
}

#projects-heading {
    text-align: center;
    font-size: 4em;
    margin-bottom: 2px;
}

#projects > p {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 5vh;
}

#project-card-container {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-card > img {
    width: 400px;
    height: 400px;
}

.project-card > label {
    
}
